<% provide(:title, "マイページ") %>
<div class="row">
  <h2>マイページ</h2>
  <p><strong class="information-link">登録情報</strong>
    <%= link_to "編集",customers_infomation_edit_path %>
  </p>

    <table>
      <tbody>
        <tr>
          <td>氏名</td>
          <td><%= @customer.family_name %></td>
          <td><%= @customer.first_name %></td>
        </tr>
        <tr>
          <td>カナ</td>
          <td><%= @customer.family_name_kana %></td>
          <td><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.post_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>

    <div>
      <p><strong class="address_link">配送先</strong>
          <%= link_to "一覧を見る", addresses_path, class: "btn" %>
        </p>
        <p><strong class="order_link">注文履歴</strong>
          <%= link_to "一覧を見る", orders_path, class: "btn" %>
      </p>
    </div>



</div>

