<div class="container">
  <div class="row">
    <div class="col3-md offset-1 mt-5">
      <h3 style="background-color:#EEEEEE"><%= "#{@customer.family_name}#{@customer.first_name}" %>さんの会員情報編集</h3>
    </div>
  </div>

   <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>

<div class="row justify-content-center">
  <table class="table　table-borderless table-sm mt-4 mb-4">
  <div class="field">
    <tr>
    <div class="field">
      <th class="table-dark"><p>会員ID　<%= @customer.id %></p>
    </div>
    </tr>
  </div>

  <div class="field">
    <tr>
      <th><%= f.label :"名前" %></th>
      <td><%= f.text_field :family_name %></td>
      <td><%= f.text_field :first_name %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <th><%= f.label :"フリガナ" %></th>
      <td><%= f.text_field :family_name_kana %></td>
      <td><%= f.text_field :first_name_kana %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <th><%= f.label :"郵便番号" %></th>
      <td><%= f.text_field :post_code %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <th><%= f.label :"住所" %></th>
      <td><%= f.text_field :address %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <th><%= f.label :"電話番号" %></th>
      <td><%= f.text_field :phone %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <th><%= f.label :"メールアドレス" %></th>
      <td><%= f.text_field :email %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <th></th>
      <label>
        <td><%= f.radio_button :is_deleted, false, checked: true %>
        有効</td>
        <td><%= f.radio_button :is_deleted, true%>
        退会</td>
      </label>
    </tr>
  </div>

  <div class="actions">
    <td></td>
    <td></td>
      <td><%= f.submit "変更を保存", class: "btn btn-success mt-2" %></td>
  </div>
</table>
<% end %>
</div>
</div>