<div class="container">
  <div class="row">
      <h3><%= "#{@customer.family_name}#{@customer.first_name}" %>さんの会員情報編集</h3>
  </div>

   <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>

    <div class="field">
      <p>会員ID<%= @customer.id %></p>
    </div>

    <div class="field">
      <%= f.label :"名前" %>
      <%= f.text_field :family_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :"フリガナ" %>
      <%= f.text_field :family_name_kana %>
      <%= f.text_field :first_name_kana %>
    </div>

    <div class="field">
      <%= f.label :"郵便番号" %>
      <%= f.text_field :post_code %>
    </div>

    <div class="field">
      <%= f.label :"住所" %>
      <%= f.text_field :address %>
    </div>

    <div class="field">
      <%= f.label :"電話番号" %>
      <%= f.text_field :phone %>
    </div>

    <div class="field">
      <%= f.label :"メールアドレス" %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <label>
        <%= f.radio_button :is_deleted, false, checked: true %>
        有効
        <%= f.radio_button :is_deleted, true%>
        退会
      </label>
    </div>

    <div class="actions">
      <%= f.submit "変更を保存", class: "btn btn-success btn-sm" %>
    </div>
  <% end %>
</div>