<div class="container">
  <div class="row">
    <div class="col3-md offset-1 mt-5 mb-5">
      <h3 style="background-color:#EEEEEE"><%= "#{@customer.family_name}#{@customer.first_name}" %>さんの会員詳細</h3>
    </div>
  </div>

   <div class="row justify-content-center">
    <div class="col-md-8">
      <table class="table shadow-lg">
        <tr>
          <th class="table-dark">会員ID</th>
          <td class="table-dark"><%= @customer.id %></td>
        </tr>

        <tr>
          <th>氏名</th>
          <td><%= "#{@customer.family_name}"" ""#{@customer.first_name}" %></td>
        </tr>

        <tr>
          <th>フリガナ</th>
          <td><%= "#{@customer.family_name_kana}"" ""#{@customer.first_name_kana}" %></td>
        </tr>

        <tr>
          <th>郵便番号</th>
          <td><%= @customer.post_code %></td>
        </tr>

        <tr>
          <th>住所</th>
          <td><%= @customer.address %></td>
        </tr>

        <tr>
          <th>電話番号</th>
          <td><%= @customer.phone %></td>
        </tr>

        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>

        <tr>
          <th>会員ステータス</th>
          <% if @customer.is_deleted == true %>
            <td class="text-secondary font-weight-bold">退会</td>
          <% else %>
            <td class="text-success font-weight-bold">有効</td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>

  <div class="row justify-content-center">
    <p class="text-center">
      <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: 'btn btn-success m-3' %>
      <%= link_to "注文履歴一覧を見る", admin_order_path(@customer.id), class: 'btn btn-primary m-3' %>
    </p>
  </div>
</div>