
<h2>注文履歴詳細</h2>
　　<div class="row">

　　      <div class="field">
			        購入者
			      <div>
		          <%= @order.name %>
		         </div>
		        </div>
　　      </div>

　　      <div class="field">
	          <div>
	            配送先
	          </div>
	          <div>
	            <%= full_address(@order) %>
	          </div>
	        </div>

	        <div class="field">
	          <div>
	            支払方法
	          </div>
	          <div>
	            <%= @order.payment_method %>
	          </div>
	        </div>

	        <%= form_for model: @order, method: :patch do |f| %>
 	        <div>注文ステータス</div>
      	  <div>
            <%= f.select :status, Order.statuses.keys %>
          </div>

          <div>
            <div><%= f.submit '更新' ,class: "btn" %>
            </div>
            <% end %>
          </div>

    <div>
      <table>
        <thead>
          <tr class="info">
            <th>商品名</th>
            <th>単価（税込み）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製造ステータス</th>
          </tr>
        </thead>

        <tbody>
				  <% if flash[:notice] %>
		        <div class="flash">
		          <%= flash[:notice] %>
		        </div>
	        <% end %>

         <% @order_items.each do |order_item| %>
					<tr>
			      <td class="text">
			        <%= order_item.item.name %>
			      </td>
			      <td class="text">
			         ¥<%= tax_price.to_s(:delimited) %>
			      </td>
			      <td class="text">
			         <%= order_item.quantity %>
			      </td>
			      <td class="text">
			         ¥<%= purchase_price(order_item).to_s(:delimited) %>
			      </td>
			         <%= form_with model: order_item, method: :patch do |f| %>
			      <td>
			         <%= f.select :produciton_status, OrderItem.produciton_statuses.keys, class: "status" %>
			         <%= f.submit '更新', class: "btn" %>
			      </td>
			         <% end %>
			    </tr>
				<% end %>

				</tbody>
			</table>
    </div>

    <div>
			<table>
				<tr>
          <th class="info">商品合計</th>
					  <td>¥<%= total_price(@order_items).to_s(:delimited) %></td>
				</tr>
				<tr>
					<th class="info">送料</th>
					  <td>¥<%= @order.postage.to_s(:delimited) %></td>
				</tr>
				<tr>
					<th class="info">請求金額合計</th>
					  <td>¥<%= @order.total_price.to_s(:delimited) %></td>
				</tr>
		  </table>
	  </div>
</div>



