<div class="container">
 <div class="row">
  <div class="col-9 mx-auto">
  <h4><strong>配送先編集</strong></h4>
  <%= form_with model: @address, method: :patch do |f| %>
  <table>
    <tr>
      <div calss="form-group">
        <th><%= f.label :"郵便番号(ハイフンなし)" %></th>
        <th><%= f.text_field :post_code, placeholder:"0000000" %></th>
      </div>
    </tr>
    <tr>
      <div calss="form-group">
        <th><%= f.label :"住所" %></th>
        <th><%= f.text_field :address, placeholder:"住所を入力してください", :size => "50" %></th>
      </div>
    </tr>
    <tr>
      <div calss="form-group">
        <th><%= f.label :"宛名" %></th>
        <th><%= f.text_field :name, placeholder:"名前を入力してください"%></th>
      　<th class="ml-5"><%= f.submit "変更内容を保存", class:"btn btn-success" %></th>
      </div>
    </tr>
  </table>
  <% end %>
  </div>
 </div>
</div>