<div class="container">
  <div class="row">
    <div class="col3-md offset-2 mb-4">
      <h3><strong>新規会員登録</strong></h3>
    </div>
  </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

<div class="row justify-content-center">
    <div class="col-md-8">
 <table class="table　table-borderless table-sm">
  <div class="field">
    <tr>
      <th><%= f.label :"名前" %></th>
      <td><%= f.label :"(姓)" %></td>
      <td><%= f.text_field :family_name %></td>
      <td><%= f.label :"(名)" %></td>
      <td><%= f.text_field :first_name %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <th><%= f.label :"フリガナ" %></th>
      <td><%= f.label :"(セイ)" %>
      <td><%= f.text_field :family_name_kana %></td>
      <td><%= f.label :"(メイ)" %></td>
      <td><%= f.text_field :first_name_kana %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <th><%= f.label :"メールアドレス" %></th>
      <td></td>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <th><%= f.label :"郵便番号(ハイフンなし)" %></th>
      <td></td>
      <td><%= f.text_field :post_code %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <th><%= f.label :"住所" %></th>
      <td></td>
      <td><%= f.text_field :address %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <th><%= f.label :"電話番号(ハイフンなし)" %></th>
      <td></td>
      <td><%= f.text_field :phone %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
    <th><%= f.label :"パスワード" %>
    <% if @minimum_password_length %>(<%= @minimum_password_length %>文字以上)</th>
    <% end %>
    <td></td>
    <td><%= f.password_field :password, autocomplete: "new-password" %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
     <th><%= f.label :"パスワード(確認用)" %></th>
     <td></td>
     <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
    </tr>
  </div>

  <div class="actions">
    <td></td>
    <td></td>
    <td><%= f.submit "新規登録", class: "btn btn-secondary btn-success" %></td>
  </div>
 </table>
<% end %>

  <div class="row">
    <h6 style="background-color:#EEEEEE">既に登録済みの方</h6>
  </div>

  <div class="row mb-5">
    <h6 class="ml-3"><%= link_to "こちら", customer_session_path %>からログインしてください。</h6>
  </div>
</div>
</div>
</div>