<div class="container">
<div class="row">
  <div class="col-5 text-center">
    <h4><strong>注文履歴詳細</strong></h4>
  </div>
</div>
<div class="row mx-auto mt-4">
  <div class="col-8 ml-5">
    <p><strong>注文情報</strong></p>
    <table class="table table-bordered shadow-lg">
      <tr><th class="table-active">注文日</th><td><%= @order.created_at.strftime('%Y/%m/%d') %></td></tr>
      <tr><th class="table-active">配送先</th><td><%= "〒#{@order.shipping_post_code}" %><br><%= @order.shipping_address %><br><br><%= @order.shipping_name %></td></tr>
      <tr><th class="table-active">支払い方法</th><td><%= @order.payment_method_i18n %></td></tr>
      <tr><th class="table-active">ステータス</th><td><%= @order.status %></td></tr>
    </table>
  </div>
  <div class="col-3">
    <p><strong>請求情報</strong></p>
      <table class="table table-bordered shadow-lg">
        <tr><th class="table-active">送料</th><td>¥<%= @order.postage %></td></tr>
        <tr><th class="table-active">商品合計</th><td>¥<%= (@order.total_price - 800).to_s(:delimited) %></td></tr>
        <tr><th class="table-active">請求合計</th><td>¥<%= @order.total_price.to_s(:delimited) %></td></tr>
      </table>
  </div>
</div>
<div class="col-11 mx-auto mt-4">
<p><strong>注文内容</strong></p>
  <table class="table table-bordered shadow-lg">
    <thead>
      <tr>
        <th class="table-active" style="width:60%">商品</th>
        <th class="table-active" style="width:20%">単価（税込み）</th>
        <th class="table-active" style="width:10%">個数</th>
        <th class="table-active" style="width:10%">小計</th>
      </tr>
    </thead>
    <tbody>
    <% @order.order_items.each do |order_item| %>
      <tr>
        <td style="word-break:break-all"><%= order_item.item.name %></td>
        <td>¥<%= order_item.purchase_price.to_s(:delimited) %></td>
        <td><%= order_item.quantity %></td>
        <td>¥<%= order_item.subtotal.to_s(:delimited) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>
