<div class="container">
  <div>
    <div class="col3-md offset-2 mt-5 mb-5">
      <div class="mt-4 ml-5">
      <h3><strong style="background-color:#EEEEEE">ログイン</strong></h3>
     </div><br>

  <div class="row justify-content-center">
    <div class="mb-4">
      <h6 style="background-color:#EEEEEE">会員の方はこちらからログイン</h6>
    </div>
  </div>

  <div class="row justify-content-center">
   <div class="col-md-8">

    <%= form_with model: @customer, url: customer_session_path do |f| %>
      <table class="table table-borderless table-sm">
        <div class="field">
          <tr>
            <th><%= f.label :メールアドレス %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <th><%= f.label :パスワード %></th>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
        </div>

        <div class="actions">
          <tr>
            <td></td>
            <td><%= f.submit "ログイン", class:"btn btn-primary btn-sm" %></td>
          </tr>
        </div>
      </table>
    <% end %>

    </div>
  </div><br>

  <div class="row">
    <div class="col3-md ml-5">
      <h6 style="background-color:#EEEEEE">会員登録がお済みでない方</h6>
    </div>
  </div>
  <p class="ml-5"><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</p>
</div>
</div>
</div>