
<div class="container">
  <div class="row">
    <div class="col-md-2 d-flex align-items-center justify-content-center mr-5">
      <%= render "sidebar", genres: @genres %>
    </div>
      <div class="row shadow-lg mt-5 pl-5 pt-5">
        <div class="col-4 mx-4 my-4">
          <%= image_tag @item.image, :size => '250' %>
        </div>
          <div class="col-6 mt-5 ml-4 pb-5">
           <table class="table table-borderless">
             <h5 class="mb-4"><%= @item.name %></h5>
             <p class="mb-4"><%= safe_join(@item.introduction.split("\n"),tag(:br)) %></p>
             ￥<%= @item.add_tax_price.to_s(:delimited) %>(税込)
            <tr>
             <th>
               <% if @item.is_active == true %>
               <%= form_with model: @cart_item,url: cart_items_path, local: true do |f| %>
               <%= f.hidden_field :item_id, :value => @item.id %>
               <%= f.select :quantity, *[1..10], {include_blank: '個数選択'}, class: "mx-4 my-4" %>
             </th>
             <td>
               <%= f.submit "カートに入れる", class: "btn btn-success my-4" %>
               <% end %>
               <% else %>
                 <p class="text-danger font-weight-bold">売切れ</p>
               <% end %>
             </td>
            </tr>
           </table>
         </div>
      </div>
   </div>
</div>