<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>

  <body>
   <header class="border-bottom border-secondary border-3 mb-5">
   	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #586673;">
	   	<div class="container">
      <a class="navbar-brand" href="/"><%= image_tag 'logo1.png', :size => '100x50' %></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

	       <% if admin_signed_in? %>
	        <li class="nav-item">
	         <%= link_to "商品一覧", admin_items_path, class: 'nav-link text-light' %>
          </li>
	        <li class="nav-item">
	         <%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-light' %>
	        </li>
	        <li class="nav-item">
     	     <%= link_to "注文履歴一覧",  admin_path, class: 'nav-link text-light' %>
	        </li>
	        <li class="nav-item">
	         <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-light' %>
        	</li>
	        <li class="nav-item">
           <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %>
	        </li>

          <%= search_form_for @search, url: admin_items_path do |f| %>
    　        <div class="input-group mt-5">
              <%= f.text_field :name_cont, placeholder: "Search" %>
                <div class="input-group-append"><button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
    　　          </div>
    　        </div>
          <% end %>

         <% elsif customer_signed_in? %>
           <li class="nav-item">
            <% if customer_signed_in? %>
              <p class = 'nav-link text-light'>ようこそ、<%= current_customer.family_name %><%= current_customer.first_name %>さん</p>
            <% end %>
            </li>
          <li class="nav-item">
	         <%= link_to "マイページ", customers_my_page_path, class: 'nav-link text-light' %>
          </li>
	        <li class="nav-item">
	         <%= link_to "商品一覧", items_path, class: 'nav-link text-light' %>
	        </li>
	        <li class="nav-item">
     	     <%= link_to "カート", cart_items_path, class: 'nav-link text-light' %>
	        </li>
	        <li class="nav-item">
           <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'nav-link text-light' %>
	        </li>

           <%= search_form_for @search, url: items_path do |f| %>
    　       <div class="input-group ml-5">
             <%= f.text_field :name_cont, placeholder: "Search" %>
             <div class="input-group-append"><button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
    　　       </div>
    　       </div>
           <% end %>

         <% else %>
          <li class="nav-item">
           <%= link_to "About", about_path, class: 'nav-link text-light' %>
	        </li>
	        <li class="nav-item">
	         <%= link_to "商品一覧", items_path, class: 'nav-link text-light' %>
	        </li>
	        <li class="nav-item">
	         <%= link_to "新規登録",  new_customer_registration_path, class: 'nav-link text-light' %>
        	</li>
	        <li class="nav-item">
	         <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-light' %>
	      </ul>
	      <% end %>

	      </div>
	      </div>
	      </nav>
	    </header>
	    <main>
	    	<%= yield %>
	    </main>
 		  <footer  class="fixed-bottom" style="height:50px; background-color: #778899;">
    		<p class="text-center text-light mt-3">Nagano_cake</p>
    	</footer>
  </body>
</html>
